.dashboard {
  width: 1200px;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 992px) {
  .dashboard {
    grid-template-columns: 1fr;
    width: auto;
    margin: 2rem;
  }
}

.dashboard div:first-of-type {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
}